.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  position: relative;
}

h1 {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: 30px;
  text-align: center;
  margin: 0;
}
