.container {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.animation {
  position: relative;
  flex: 1;
  overflow: hidden;
  max-width: 100%;
}

.slide {
  display: flex;
  width: 100%;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.hoodie {
  width: 80vw;
  max-height: 80vh;
  margin-top: 5vh;
}

.controls {
  position: relative;
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #444444;
  height: 40px;
}

.nav {
  max-height: 40px;
  padding: 10px 0;
  flex: 1;
  border: none;
  background: none;
  color: white;
}

.submit {
  border: none;
  background: none;
  font-size: 18px;
  flex: 3;
  color: white;
  font-weight: bold;
}
